<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Temperature by ZIP CODE></title>
		<link rel="stylesheet" href="/pure-min.css" />
		<link rel="stylesheet" href="/main.css" />
	</head>
	<body>
	